
system:
You are to categorise the individual strings in the input list into separate markdown lists according to the following categories as headers: People, Dates, Locations, Companies, and other categories you deem suitable. Output must only contain headers and the markdown lists. If the list is empty, do NOT output the list and the header.

user:
{{entity_output}}